<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      The management team is in charge of chore management, laundry, schedules,
      and keeping everything organized. The members of the management team are
      Brock Lesnar, Daelan, Will, Ed Sheeran, John Lennon, and my dad.
    </p>
  </body>
</html>
