<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>
      The procurement team is mainly in charge of providing food for all of Base
      Camp and supplying all the other teams. The members of the procurement
      team are Shiny Dylan, Richard, Ethan, Quinton, Mariann, and Gary.
    </p>
  </body>
</html>
